body {
    background: url(13b6c8287d7530a199340f138bac4bfa.jpg);
    color: white;
    font-family:'Times New Roman';
    background-size: cover;
}

.kotak_login{
    width: 300px;
    background: rgba(27, 67, 112, 0.784);
    color: aliceblue;
    margin: 100px auto;
    padding: 30px 20px;
    border-radius: 20px;
}

.form_login{
    /*ngebuat lebar form nya penuh*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.tombol_login{
    background: rgb(85, 95, 116);
    color: white;
    font-size: 12pt;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.menu{
    margin: 200px auto;
    display:contents;
    height: 45px;
    background-color: rgba(177, 186, 215, 0.784);
}

#navigasi{
    position:fixed;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    line-height: 30px;
}

#navigasi a {
    display: block;
    padding: 8px 16px;
    background-color: rgba(204, 209, 230, 0.784);
    color: black;
    text-decoration: none;
}

#navigasi a:hover {
    background-color: rgba(212, 218, 227, 0.689);
}

#navigasi li {
    position: relative;
    float: left;
}

#navigasi ul {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
}

#navigasi li ul a {
    width: 12em;
    height: auto;
    float: left;
}

#navigasi li:hover ul {
    display: block;
    height: auto;
    width: 12cm;
} 
