body {
    font-family: Verdana;
    font-size: 15px;
}

.menu{
    display: block;
    height: 55px;
    background-color: pink;
}

#navigasi{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    line-height: 30px;
}

#navigasi a {
    display: block;
    padding: 8px 16px;
    background-color: pink;
    color: black;
    text-decoration: none;
}

#navigasi a:hover {
    background-color: rgb(255, 218, 224);
}

#navigasi li {
    position: relative;
    float: left;
}

#navigasi ul {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
}

#navigasi li ul a {
    width: 12em;
    height: auto;
    float: left;
}

#navigasi li:hover ul {
    display: block;
    height: auto;
    width: 12cm;
} 